---
layout: default
title: "Helping wafer.space"
sub_title: |
  How you can help wafer.space?
header_image: "/assets/images/header/mpw-one-partial-dice-top-1.jpg"

---
{% include layouts/nav/nav.html drop_search=true alignment_class="ms-auto" %}
{% include layouts/header/page-title.html %}

<div class="wrapper light-wrapper">
    <div class="container inner">
        <p class="lead larger">This page will describe how you can wafer.space with it's mission.</p>
        <div class="space20"></div>
	<p>There will be more information here soon!</p>
    </div>
</div>
<div class="space120"></div>

<!--/.footer Wrapper-->
{% include layouts/footer/footer-1.html %}
