<div class="user-details">
  <h1>The Plan</h1>
  <table>
    <tr>
      <th>Process Technology:</th>
      <td><a href="https://gf180mcu-pdk.readthedocs.io/">GF180MCU</a> (same configuration as Google OpenMPW shuttles).</td>
    </tr><tr>
      <th>Price:</th>
      <td>Between ~USD$6,000 and ~USD$8,000</td>
    </tr><tr>
      <th>What you get:</th>
      <td>Between 100 and 500 unpackaged die.</td>
    </tr><tr>
      <th>When:</th>
      <td>TBD</td>
    </tr>
  </table>
</div>
<div class="user">
  <div class="tech">
    <h2>Get Notified!</h2>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScIcBzu6W0sZZpFak3hsCWveSZaUkdmFSCdExs1sn2xgeeZEw/viewform?embedded=true" width="640" height="592" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
  <div class="tech">
    <h2>User Survey</h2>
    <p></p>
  </div>
</div>
<div class="user-details">
  <h1>More Information</h1>
  <p>
  </p>
</div>
