
{% if page.pricing_table.enable %}
<div class="wrapper dark-wrapper inverse-text">
  <div class="container inner text-center">
    {% if page.pricing_table.title %}
     <h2 class="title-color color-white text-center">{{page.pricing_table.title}}</h2>
    {% endif %}
    {% if page.pricing_table.sub_title %}
     <h3 class="display-3 mb-0">{{page.pricing_table.sub_title}}</h3>
    {% endif %}
  </div>
  <!-- /.container -->
  <div class="space160"></div>
</div>
<!-- /.wrapper -->
{% endif %}

<div class="wrapper overflow-top">
  <div class="container inner pt-0 pb-30">
    {% if page.pricing_table.enable %}
    <div class="pricing-wrapper">
      <div class="row g-0">
        {% assign pricings = page.pricing_table.plans %}
        {% for pricing in pricings %}
        <div class="col-md-4 {% if forloop.index == 2 %} popular {% endif %}">
          <div class="pricing panel box bg-white shadow">
            <div class="panel-heading">
              {% if pricing.icon %}
              <div class="mb-10">
                <img src="{{pricing.icon}}" class="img-fluid" alt="{{pricing.title}}"/>
              </div>
              {% endif %}
              <h4 class="panel-title mb-35">{{pricing.title}}</h4>
              <div class="prices color-dark">
                <div class="price price-show">
                  <span class="price-currency">$</span>
                  <span class="price-value">{{pricing.monthly_price}}</span>
                  <span class="price-duration">{{pricing.monthly_currency}}</span>
                </div>
              </div>
            </div>
            <!--/.panel-heading -->
            <div class="panel-body">
              <table class="table">
                {% for feature in pricing.features %}
                <tr>
                  <td>{{feature}}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <!--/.panel-body -->
            <div class="panel-footer">
              {% if pricing.pricing_url %}
               <a href="{{pricing.pricing_url}}" class="btn" role="button">{{pricing.button_text}}</a>
              {% endif %}
           </div>
          </div>
          <!--/.pricing -->
        </div>
        {% endfor %}
      </div>
      <!--/.row -->
    </div>
    <!--/.pricing-wrapper -->
    {% endif %}
</div>
<!-- /.wrapper -->
