{% if include.check_author|nil %}
{% assign check_author = include.check_author %}
{% else %}
{% assign check_author = site.authors | where: "title", page.author %}
{% endif %}
{% if include.simple_post %}
{% for author_data in check_author %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row">
      {% if author_data.avatar %}
      <div class="col-md-4">
        <figure class="rounded">
          <a href="{{ author_data.url | relative_url }}"><img alt="{{author_data.title}}"
              src="{{author_data.avatar | relative_url}}" /></a>
        </figure>
      </div>
      <!--/column -->
      {% endif %}
      <div class="col-md-8">
        {% if author_data.website %}
        <h3><a href="{{author_data.website}}" class="text-decoration-none">{{author_data.title}}</a></h3>
        {% else %}
        <h3>{{author_data.title}}</h3>
        {% endif %}
	<h4>{{author_data.sub_title}}</h4>
        {% if author_data.content %}
	<p class="mb-10">{{author_data.content | markdownify }}</p>
        {% endif %}
        {% if author_data.social_accounts %}
        <ul class="social">
          {% for author_social in author_data.social_accounts %}
          <li><a href="{{author_social.url}}"><i class="{{author_social.icon}}"></i></a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <!--/column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endfor %}
{% elsif include.boxed %}
{% for author_data in check_author %}
<div class="wrapper light-wrapper">
  <div class="container inner">
  <div class="box bg-white shadow">
    <div class="row">
          {% if author_data.avatar %}
          <div class="col-md-4">
            <figure class="rounded">
              {% if author_data.website %}
              <a href="{{author_data.website}}"><img alt="{{author_data.title}}" src="{{author_data.avatar | relative_url}}" /></a>
              {% else %}
              <a href="{{ author_data.url | relative_url }}"><img alt="{{author_data.title}}" src="{{author_data.avatar | relative_url}}" /></a>
              {% endif %}
            </figure>
          </div>
          <!--/column -->
          {% endif %}
          <div class="col-md-8">
            {% if author_data.website %}
            <h3><a href="{{author_data.website}}" class="text-decoration-none">{{author_data.title}}</a></h3>
            {% else %}
            <h3>{{author_data.title}}</h3>
            {% endif %}
            <h4>{{author_data.sub_title}}</h4>
            {% if author_data.content %}
	    <p class="mb-10">{{author_data.content | markdownify }}</p>
            {% endif %}
            {% if author_data.social_accounts %}
            <ul class="social">
              {% for author_social in author_data.social_accounts %}
               <li><a href="{{author_social.url}}"><i class="{{author_social.icon}}"></i></a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          <!--/column -->


    </div>
    <!-- /.row -->
  </div>
</div>
<!-- /.container -->
</div>
<!-- /.wrapper -->
{% endfor %}
{% endif %}