<!-- Call to Action: Design Help -->
<div id="get-started" class="wrapper gray-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h2 class="title-color color-gray">Ready to design your chip?</h2>
        <h3 class="display-3">Your design. Your silicon. From $4 per die.</h3>
        <div class="space40"></div>
      </div>
    </div>

    <div class="row align-items-start">
      <!-- Left Column: Get Started -->
      <div class="col-lg-6 mb-30">
        <h4 class="mb-20"><i class="jam jam-rocket mr-10"></i>Get Started</h4>
        <ul class="icon-list bullet-default">
          <li>
            <i class="icofont-verification-check"></i>
            <a href="https://github.com/wafer-space/gf180mcu-project-template" target="_blank" rel="noopener">
              Project template
            </a>
            &mdash; start your design from a working example
          </li>
          <li>
            <i class="icofont-verification-check"></i>
            <a href="https://gf180mcu-pdk.readthedocs.io/" target="_blank" rel="noopener">
              PDK documentation
            </a>
            &mdash; GF180MCU process design kit reference
          </li>
          <li>
            <i class="icofont-verification-check"></i>
            <a href="https://mithro.github.io/gf180mcu-project-template/" target="_blank" rel="noopener">
              Slot specifications
            </a>
            &mdash; die dimensions, pad rings, and I/O details
          </li>
          <li>
            <i class="icofont-verification-check"></i>
            <a href="https://discord.gg/43y2t53jpE" target="_blank" rel="noopener">
              Community Discord
            </a>
            &mdash; chat with other designers and get free help
          </li>
        </ul>
      </div>

      <!-- Right Column: Need Help? -->
      <div class="col-lg-6 mb-30">
        <h4 class="mb-20"><i class="jam jam-cog mr-10"></i>Need Help?</h4>
        <p>
          Professional design services are available from independent consultants experienced with the GF180MCU process.
          Whether you need a full custom design, help with verification, or guidance on your first tapeout, experts are ready to assist.
        </p>
        <ul class="icon-list bullet-default">
          <li>
            <i class="icofont-verification-check"></i>
            <a href="{{ '/design-help.html' | relative_url }}">
              Browse professional services
            </a>
            &mdash; find a consultant for your project
          </li>
          <li>
            <i class="icofont-verification-check"></i>
            <a href="https://discord.gg/43y2t53jpE" target="_blank" rel="noopener">
              Join the Discord
            </a>
            &mdash; free community support and peer help
          </li>
        </ul>
      </div>
    </div>

    <div class="space20"></div>

    <!-- Buy Now Button -->
    <div class="row">
      <div class="col text-center">
        <a href="https://buy.wafer.space/#products" class="btn btn-lg btn-default" role="button">
          <i class="jam jam-shopping-cart mr-10"></i>Buy Now
        </a>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
